.section{

    padding: 50px 16px;
}


ul.sectionul {
    width: 80%;
    margin: auto;
}



#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}

.btnFormat{

    margin-left: 20px;
    margin-right: 20px;
}